module {
  func.func @OneHot2(%arg0: !cirgen.buffer<1, constant> {cirgen.argName = "code"}, %arg1: !cirgen.buffer<2, mutable> {cirgen.argName = "data"}) -> !cirgen.constraint {
    %0 = cirgen.const 1
    %1 = cirgen.true
    %2 = cirgen.get %arg0[0] back 0 : <1, constant>
    %3 = cirgen.get %arg1[1] back 0 : <2, mutable>
    %4 = cirgen.sub %3 : <default>, %2 : <default>
    %5 = cirgen.and_eqz %1, %4 : <default>
    %6 = cirgen.get %arg1[0] back 0 : <2, mutable>
    %7 = cirgen.sub %0 : <default>, %6 : <default>
    %8 = cirgen.mul %6 : <default>, %7 : <default>
    %9 = cirgen.and_eqz %5, %8 : <default>
    %10 = cirgen.sub %0 : <default>, %3 : <default>
    %11 = cirgen.mul %3 : <default>, %10 : <default>
    %12 = cirgen.and_eqz %9, %11 : <default>
    %13 = cirgen.add %6 : <default>, %3 : <default>
    %14 = cirgen.sub %13 : <default>, %0 : <default>
    %15 = cirgen.and_eqz %12, %14 : <default>
    return %15 : !cirgen.constraint
  }
}