module {
  func.func @OneHot20(%arg0: !cirgen.buffer<1, constant> {cirgen.argName = "code"}, %arg1: !cirgen.buffer<20, mutable> {cirgen.argName = "data"}) -> !cirgen.constraint {
    %0 = cirgen.const 1
    %1 = cirgen.const 2
    %2 = cirgen.const 3
    %3 = cirgen.const 4
    %4 = cirgen.const 5
    %5 = cirgen.const 6
    %6 = cirgen.const 7
    %7 = cirgen.const 8
    %8 = cirgen.const 9
    %9 = cirgen.const 10
    %10 = cirgen.const 11
    %11 = cirgen.const 12
    %12 = cirgen.const 13
    %13 = cirgen.const 14
    %14 = cirgen.const 15
    %15 = cirgen.const 16
    %16 = cirgen.const 17
    %17 = cirgen.const 18
    %18 = cirgen.const 19
    %19 = cirgen.true
    %20 = cirgen.get %arg0[0] back 0 : <1, constant>
    %21 = cirgen.get %arg1[1] back 0 : <20, mutable>
    %22 = cirgen.get %arg1[2] back 0 : <20, mutable>
    %23 = cirgen.mul %22 : <default>, %1 : <default>
    %24 = cirgen.add %21 : <default>, %23 : <default>
    %25 = cirgen.get %arg1[3] back 0 : <20, mutable>
    %26 = cirgen.mul %25 : <default>, %2 : <default>
    %27 = cirgen.add %24 : <default>, %26 : <default>
    %28 = cirgen.get %arg1[4] back 0 : <20, mutable>
    %29 = cirgen.mul %28 : <default>, %3 : <default>
    %30 = cirgen.add %27 : <default>, %29 : <default>
    %31 = cirgen.get %arg1[5] back 0 : <20, mutable>
    %32 = cirgen.mul %31 : <default>, %4 : <default>
    %33 = cirgen.add %30 : <default>, %32 : <default>
    %34 = cirgen.get %arg1[6] back 0 : <20, mutable>
    %35 = cirgen.mul %34 : <default>, %5 : <default>
    %36 = cirgen.add %33 : <default>, %35 : <default>
    %37 = cirgen.get %arg1[7] back 0 : <20, mutable>
    %38 = cirgen.mul %37 : <default>, %6 : <default>
    %39 = cirgen.add %36 : <default>, %38 : <default>
    %40 = cirgen.get %arg1[8] back 0 : <20, mutable>
    %41 = cirgen.mul %40 : <default>, %7 : <default>
    %42 = cirgen.add %39 : <default>, %41 : <default>
    %43 = cirgen.get %arg1[9] back 0 : <20, mutable>
    %44 = cirgen.mul %43 : <default>, %8 : <default>
    %45 = cirgen.add %42 : <default>, %44 : <default>
    %46 = cirgen.get %arg1[10] back 0 : <20, mutable>
    %47 = cirgen.mul %46 : <default>, %9 : <default>
    %48 = cirgen.add %45 : <default>, %47 : <default>
    %49 = cirgen.get %arg1[11] back 0 : <20, mutable>
    %50 = cirgen.mul %49 : <default>, %10 : <default>
    %51 = cirgen.add %48 : <default>, %50 : <default>
    %52 = cirgen.get %arg1[12] back 0 : <20, mutable>
    %53 = cirgen.mul %52 : <default>, %11 : <default>
    %54 = cirgen.add %51 : <default>, %53 : <default>
    %55 = cirgen.get %arg1[13] back 0 : <20, mutable>
    %56 = cirgen.mul %55 : <default>, %12 : <default>
    %57 = cirgen.add %54 : <default>, %56 : <default>
    %58 = cirgen.get %arg1[14] back 0 : <20, mutable>
    %59 = cirgen.mul %58 : <default>, %13 : <default>
    %60 = cirgen.add %57 : <default>, %59 : <default>
    %61 = cirgen.get %arg1[15] back 0 : <20, mutable>
    %62 = cirgen.mul %61 : <default>, %14 : <default>
    %63 = cirgen.add %60 : <default>, %62 : <default>
    %64 = cirgen.get %arg1[16] back 0 : <20, mutable>
    %65 = cirgen.mul %64 : <default>, %15 : <default>
    %66 = cirgen.add %63 : <default>, %65 : <default>
    %67 = cirgen.get %arg1[17] back 0 : <20, mutable>
    %68 = cirgen.mul %67 : <default>, %16 : <default>
    %69 = cirgen.add %66 : <default>, %68 : <default>
    %70 = cirgen.get %arg1[18] back 0 : <20, mutable>
    %71 = cirgen.mul %70 : <default>, %17 : <default>
    %72 = cirgen.add %69 : <default>, %71 : <default>
    %73 = cirgen.get %arg1[19] back 0 : <20, mutable>
    %74 = cirgen.mul %73 : <default>, %18 : <default>
    %75 = cirgen.add %72 : <default>, %74 : <default>
    %76 = cirgen.sub %75 : <default>, %20 : <default>
    %77 = cirgen.and_eqz %19, %76 : <default>
    %78 = cirgen.get %arg1[0] back 0 : <20, mutable>
    %79 = cirgen.sub %0 : <default>, %78 : <default>
    %80 = cirgen.mul %78 : <default>, %79 : <default>
    %81 = cirgen.and_eqz %77, %80 : <default>
    %82 = cirgen.sub %0 : <default>, %21 : <default>
    %83 = cirgen.mul %21 : <default>, %82 : <default>
    %84 = cirgen.and_eqz %81, %83 : <default>
    %85 = cirgen.add %78 : <default>, %21 : <default>
    %86 = cirgen.sub %0 : <default>, %22 : <default>
    %87 = cirgen.mul %22 : <default>, %86 : <default>
    %88 = cirgen.and_eqz %84, %87 : <default>
    %89 = cirgen.add %85 : <default>, %22 : <default>
    %90 = cirgen.sub %0 : <default>, %25 : <default>
    %91 = cirgen.mul %25 : <default>, %90 : <default>
    %92 = cirgen.and_eqz %88, %91 : <default>
    %93 = cirgen.add %89 : <default>, %25 : <default>
    %94 = cirgen.sub %0 : <default>, %28 : <default>
    %95 = cirgen.mul %28 : <default>, %94 : <default>
    %96 = cirgen.and_eqz %92, %95 : <default>
    %97 = cirgen.add %93 : <default>, %28 : <default>
    %98 = cirgen.sub %0 : <default>, %31 : <default>
    %99 = cirgen.mul %31 : <default>, %98 : <default>
    %100 = cirgen.and_eqz %96, %99 : <default>
    %101 = cirgen.add %97 : <default>, %31 : <default>
    %102 = cirgen.sub %0 : <default>, %34 : <default>
    %103 = cirgen.mul %34 : <default>, %102 : <default>
    %104 = cirgen.and_eqz %100, %103 : <default>
    %105 = cirgen.add %101 : <default>, %34 : <default>
    %106 = cirgen.sub %0 : <default>, %37 : <default>
    %107 = cirgen.mul %37 : <default>, %106 : <default>
    %108 = cirgen.and_eqz %104, %107 : <default>
    %109 = cirgen.add %105 : <default>, %37 : <default>
    %110 = cirgen.sub %0 : <default>, %40 : <default>
    %111 = cirgen.mul %40 : <default>, %110 : <default>
    %112 = cirgen.and_eqz %108, %111 : <default>
    %113 = cirgen.add %109 : <default>, %40 : <default>
    %114 = cirgen.sub %0 : <default>, %43 : <default>
    %115 = cirgen.mul %43 : <default>, %114 : <default>
    %116 = cirgen.and_eqz %112, %115 : <default>
    %117 = cirgen.add %113 : <default>, %43 : <default>
    %118 = cirgen.sub %0 : <default>, %46 : <default>
    %119 = cirgen.mul %46 : <default>, %118 : <default>
    %120 = cirgen.and_eqz %116, %119 : <default>
    %121 = cirgen.add %117 : <default>, %46 : <default>
    %122 = cirgen.sub %0 : <default>, %49 : <default>
    %123 = cirgen.mul %49 : <default>, %122 : <default>
    %124 = cirgen.and_eqz %120, %123 : <default>
    %125 = cirgen.add %121 : <default>, %49 : <default>
    %126 = cirgen.sub %0 : <default>, %52 : <default>
    %127 = cirgen.mul %52 : <default>, %126 : <default>
    %128 = cirgen.and_eqz %124, %127 : <default>
    %129 = cirgen.add %125 : <default>, %52 : <default>
    %130 = cirgen.sub %0 : <default>, %55 : <default>
    %131 = cirgen.mul %55 : <default>, %130 : <default>
    %132 = cirgen.and_eqz %128, %131 : <default>
    %133 = cirgen.add %129 : <default>, %55 : <default>
    %134 = cirgen.sub %0 : <default>, %58 : <default>
    %135 = cirgen.mul %58 : <default>, %134 : <default>
    %136 = cirgen.and_eqz %132, %135 : <default>
    %137 = cirgen.add %133 : <default>, %58 : <default>
    %138 = cirgen.sub %0 : <default>, %61 : <default>
    %139 = cirgen.mul %61 : <default>, %138 : <default>
    %140 = cirgen.and_eqz %136, %139 : <default>
    %141 = cirgen.add %137 : <default>, %61 : <default>
    %142 = cirgen.sub %0 : <default>, %64 : <default>
    %143 = cirgen.mul %64 : <default>, %142 : <default>
    %144 = cirgen.and_eqz %140, %143 : <default>
    %145 = cirgen.add %141 : <default>, %64 : <default>
    %146 = cirgen.sub %0 : <default>, %67 : <default>
    %147 = cirgen.mul %67 : <default>, %146 : <default>
    %148 = cirgen.and_eqz %144, %147 : <default>
    %149 = cirgen.add %145 : <default>, %67 : <default>
    %150 = cirgen.sub %0 : <default>, %70 : <default>
    %151 = cirgen.mul %70 : <default>, %150 : <default>
    %152 = cirgen.and_eqz %148, %151 : <default>
    %153 = cirgen.add %149 : <default>, %70 : <default>
    %154 = cirgen.sub %0 : <default>, %73 : <default>
    %155 = cirgen.mul %73 : <default>, %154 : <default>
    %156 = cirgen.and_eqz %152, %155 : <default>
    %157 = cirgen.add %153 : <default>, %73 : <default>
    %158 = cirgen.sub %157 : <default>, %0 : <default>
    %159 = cirgen.and_eqz %156, %158 : <default>
    return %159 : !cirgen.constraint
  }
}