module {
  func.func @ComputeDecode(%arg0: !cirgen.buffer<4, constant> {cirgen.argName = "in"}, %arg1: !cirgen.buffer<18, mutable> {cirgen.argName = "data"}) -> !cirgen.constraint {
    %0 = cirgen.const 128
    %1 = cirgen.const 16
    %2 = cirgen.const 8
    %3 = cirgen.const 2
    %4 = cirgen.const 4
    %5 = cirgen.const 64
    %6 = cirgen.true
    %7 = cirgen.get %arg0[0] back 0 : <128, constant>
    %8 = cirgen.get %arg0[1] back 0 : <128, constant>
    %9 = cirgen.get %arg0[2] back 0 : <128, constant>
    %10 = cirgen.get %arg0[3] back 0 : <128, constant>
    %11 = cirgen.get %arg1[13] back 0 : <18, mutable>
    %12 = cirgen.get %arg1[0] back 0 : <18, mutable>
    %13 = cirgen.get %arg1[8] back 0 : <18, mutable>
    %14 = cirgen.mul %13 : <default>, %4 : <default>
    %15 = cirgen.get %arg1[9] back 0 : <18, mutable>
    %16 = cirgen.mul %15 : <default>, %2 : <default>
    %17 = cirgen.get %arg1[1] back 0 : <18, mutable>
    %18 = cirgen.mul %17 : <default>, %1 : <default>
    %19 = cirgen.add %18 : <default>, %16 : <default>
    %20 = cirgen.add %19 : <default>, %14 : <default>
    %21 = cirgen.add %20 : <default>, %12 : <default>
    %22 = cirgen.get %arg1[10] back 0 : <18, mutable>
    %23 = cirgen.mul %22 : <default>, %5 : <default>
    %24 = cirgen.add %23 : <default>, %21 : <default>
    %25 = cirgen.mul %24 : <default>, %3 : <default>
    %26 = cirgen.add %25 : <default>, %11 : <default>
    %27 = cirgen.sub %10 : <default>, %26 : <default>
    %28 = cirgen.and_eqz %6, %27 : <default>
    %29 = cirgen.get %arg1[3] back 0 : <18, mutable>
    %30 = cirgen.get %arg1[4] back 0 : <18, mutable>
    %31 = cirgen.mul %30 : <default>, %4 : <default>
    %32 = cirgen.get %arg1[11] back 0 : <18, mutable>
    %33 = cirgen.get %arg1[2] back 0 : <18, mutable>
    %34 = cirgen.mul %33 : <default>, %3 : <default>
    %35 = cirgen.get %arg1[12] back 0 : <18, mutable>
    %36 = cirgen.mul %35 : <default>, %2 : <default>
    %37 = cirgen.add %36 : <default>, %34 : <default>
    %38 = cirgen.add %37 : <default>, %32 : <default>
    %39 = cirgen.mul %38 : <default>, %1 : <default>
    %40 = cirgen.add %39 : <default>, %31 : <default>
    %41 = cirgen.add %40 : <default>, %29 : <default>
    %42 = cirgen.sub %9 : <default>, %41 : <default>
    %43 = cirgen.and_eqz %28, %42 : <default>
    %44 = cirgen.get %arg1[6] back 0 : <18, mutable>
    %45 = cirgen.get %arg1[7] back 0 : <18, mutable>
    %46 = cirgen.mul %45 : <default>, %4 : <default>
    %47 = cirgen.get %arg1[5] back 0 : <18, mutable>
    %48 = cirgen.get %arg1[15] back 0 : <18, mutable>
    %49 = cirgen.mul %48 : <default>, %4 : <default>
    %50 = cirgen.add %49 : <default>, %47 : <default>
    %51 = cirgen.mul %50 : <default>, %1 : <default>
    %52 = cirgen.get %arg1[14] back 0 : <18, mutable>
    %53 = cirgen.mul %52 : <default>, %0 : <default>
    %54 = cirgen.add %53 : <default>, %51 : <default>
    %55 = cirgen.add %54 : <default>, %46 : <default>
    %56 = cirgen.add %55 : <default>, %44 : <default>
    %57 = cirgen.sub %8 : <default>, %56 : <default>
    %58 = cirgen.and_eqz %43, %57 : <default>
    %59 = cirgen.get %arg1[17] back 0 : <18, mutable>
    %60 = cirgen.get %arg1[16] back 0 : <18, mutable>
    %61 = cirgen.mul %60 : <default>, %0 : <default>
    %62 = cirgen.add %61 : <default>, %59 : <default>
    %63 = cirgen.sub %7 : <default>, %62 : <default>
    %64 = cirgen.and_eqz %58, %63 : <default>
    return %64 : !cirgen.constraint
  }
}